@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.home {
  background: transparent linear-gradient(0deg, #8975d1 0%, #321084 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;

  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
}

.grid__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  margin: 120px auto;
}

.grid__cards > .card {
  margin: 60px 10px 10px 10px;
}

.card {
  width: 534px;
  height: 800px;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
  height: 235px;
}

.card-temp {
  text-align: left;
  font: normal normal normal 104px/125px Sen;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.73;
}

.card-city {
  text-align: left;
  font: normal normal 23px/35px Sen;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.73;
}

.card-img {
  width: 522px;
  height: 464px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin-top: 30px;

  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.card-img img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;

  object-fit: cover;
}

.card-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  margin-top: 145px;

  width: 436px;
  height: 173px;
  /* UI Properties */
  border-radius: 38px;
  opacity: 1;
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
}

.card-desc-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 16px;
}

.card-desc > .card-desc-icons {
  margin: 10px;
  padding: 15px;
}

.card-desc-icon-3 {
  margin-bottom: 20px;
}

.icons-icon {
  width: 100%;
  height: 100%;
}
.icons-icon > img {
  object-fit: contain;
  width: 100%;
  height: 100%;

  animation: animateCloud 5s infinite;
}

@keyframes animateCloud {
  0% {
    margin-top: 20px;
  }
  50% {
    margin-top: 0px;
  }

  100% {
    margin-top: 20px;
  }
}

.home {
  background: linear-gradient(-45deg, #52eeee, #6e17e0, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
